gpt 4o result start
Processing records: 100%|██████████| 240/240 [04:21<00:00,  1.09s/record]
accuracy of model over 240 generated records: 0.9541666666666667
precision of model over 240 generated records: 0.957983193277311
recall of model over 240 generated records: 0.95
f1 of model over 240 generated records: 0.9539748953974896
Processing records: 100%|██████████| 240/240 [05:26<00:00,  1.36s/record]
accuracy of model over 240 generated records: 0.9458333333333333
precision of model over 240 generated records: 0.928
recall of model over 240 generated records: 0.9666666666666667
f1 of model over 240 generated records: 0.9469387755102041
Processing records: 100%|██████████| 240/240 [05:20<00:00,  1.34s/record]
accuracy of model over 240 generated records: 0.95
precision of model over 240 generated records: 0.9576271186440678
recall of model over 240 generated records: 0.9416666666666667
f1 of model over 240 generated records: 0.9495798319327732
Processing records: 100%|██████████| 240/240 [05:28<00:00,  1.37s/record]
accuracy of model over 240 generated records: 0.9291666666666667
precision of model over 240 generated records: 0.9478260869565217
recall of model over 240 generated records: 0.9083333333333333
f1 of model over 240 generated records: 0.9276595744680851
Processing records: 100%|██████████| 240/240 [05:21<00:00,  1.34s/record]
accuracy of model over 240 generated records: 0.9541666666666667
precision of model over 240 generated records: 0.9658119658119658
recall of model over 240 generated records: 0.9416666666666667
f1 of model over 240 generated records: 0.9535864978902954
Processing records: 100%|██████████| 240/240 [05:30<00:00,  1.38s/record]
accuracy of model over 240 generated records: 0.95
precision of model over 240 generated records: 0.9354838709677419
recall of model over 240 generated records: 0.9666666666666667
f1 of model over 240 generated records: 0.9508196721311476
Processing records: 100%|██████████| 240/240 [05:27<00:00,  1.36s/record]
accuracy of model over 240 generated records: 0.9625
precision of model over 240 generated records: 0.9586776859504132
recall of model over 240 generated records: 0.9666666666666667
f1 of model over 240 generated records: 0.9626556016597511
Processing records: 100%|██████████| 240/240 [05:24<00:00,  1.35s/record]
accuracy of model over 240 generated records: 0.9625
precision of model over 240 generated records: 0.9586776859504132
recall of model over 240 generated records: 0.9666666666666667
f1 of model over 240 generated records: 0.9626556016597511
Processing records: 100%|██████████| 240/240 [05:26<00:00,  1.36s/record]
accuracy of model over 240 generated records: 0.9583333333333334
precision of model over 240 generated records: 0.9583333333333334
recall of model over 240 generated records: 0.9583333333333334
f1 of model over 240 generated records: 0.9583333333333334
Processing records: 100%|██████████| 240/240 [05:21<00:00,  1.34s/record]accuracy of model over 240 generated records: 0.9375
precision of model over 240 generated records: 0.92
recall of model over 240 generated records: 0.9583333333333334
f1 of model over 240 generated records: 0.9387755102040817
gpt 4o result end

llama 70B result start
llama 70B result end

qwen32b result start
qwen32b result end

