gpt 4o result start
Processing records: 100%|██████████| 240/240 [04:20<00:00,  1.09s/record]
accuracy of model over 240 generated records: 0.95
precision of model over 240 generated records: 0.9285714285714286
recall of model over 240 generated records: 0.975
f1 of model over 240 generated records: 0.951219512195122
Processing records: 100%|██████████| 240/240 [05:33<00:00,  1.39s/record]
accuracy of model over 240 generated records: 0.9375
precision of model over 240 generated records: 0.8888888888888888
recall of model over 240 generated records: 1.0
f1 of model over 240 generated records: 0.9411764705882353
Processing records: 100%|██████████| 240/240 [05:20<00:00,  1.33s/record]
accuracy of model over 240 generated records: 0.95
precision of model over 240 generated records: 0.9285714285714286
recall of model over 240 generated records: 0.975
f1 of model over 240 generated records: 0.951219512195122
Processing records: 100%|██████████| 240/240 [05:29<00:00,  1.37s/record]
accuracy of model over 240 generated records: 0.9375
precision of model over 240 generated records: 0.8947368421052632
recall of model over 240 generated records: 0.9916666666666667
f1 of model over 240 generated records: 0.9407114624505929
Processing records: 100%|██████████| 240/240 [05:19<00:00,  1.33s/record]
accuracy of model over 240 generated records: 0.9583333333333334
precision of model over 240 generated records: 0.9435483870967742
recall of model over 240 generated records: 0.975
f1 of model over 240 generated records: 0.9590163934426231
Processing records: 100%|██████████| 240/240 [05:30<00:00,  1.38s/record]
accuracy of model over 240 generated records: 0.9375
precision of model over 240 generated records: 0.8888888888888888
recall of model over 240 generated records: 1.0
f1 of model over 240 generated records: 0.9411764705882353
Processing records: 100%|██████████| 240/240 [05:27<00:00,  1.36s/record]
accuracy of model over 240 generated records: 0.9583333333333334
precision of model over 240 generated records: 0.9365079365079365
recall of model over 240 generated records: 0.9833333333333333
f1 of model over 240 generated records: 0.9593495934959351
Processing records: 100%|██████████| 240/240 [05:21<00:00,  1.34s/record]
accuracy of model over 240 generated records: 0.9416666666666667
precision of model over 240 generated records: 0.8955223880597015
recall of model over 240 generated records: 1.0
f1 of model over 240 generated records: 0.9448818897637796
Processing records: 100%|██████████| 240/240 [05:25<00:00,  1.35s/record]
accuracy of model over 240 generated records: 0.95
precision of model over 240 generated records: 0.9153846153846154
recall of model over 240 generated records: 0.9916666666666667
f1 of model over 240 generated records: 0.9520000000000001
Processing records: 100%|██████████| 240/240 [05:19<00:00,  1.33s/record]
accuracy of model over 240 generated records: 0.9291666666666667
precision of model over 240 generated records: 0.8931297709923665
recall of model over 240 generated records: 0.975
f1 of model over 240 generated records: 0.9322709163346613
gpt 4o result end

llama 70B result start

Processing records: 100%|██████████| 240/240 [01:34<00:00,  2.53record/s]
accuracy of model over 240 generated records: 0.8583333333333333
precision of model over 240 generated records: 0.7792207792207793
recall of model over 240 generated records: 1.0
f1 of model over 240 generated records: 0.8759124087591241
Processing records: 100%|██████████| 240/240 [02:03<00:00,  1.94record/s]
accuracy of model over 240 generated records: 0.8583333333333333
precision of model over 240 generated records: 0.7792207792207793
recall of model over 240 generated records: 1.0
f1 of model over 240 generated records: 0.8759124087591241
Processing records: 100%|██████████| 240/240 [01:46<00:00,  2.24record/s]
accuracy of model over 240 generated records: 0.9083333333333333
precision of model over 240 generated records: 0.8450704225352113
recall of model over 240 generated records: 1.0
f1 of model over 240 generated records: 0.916030534351145
Processing records: 100%|██████████| 240/240 [02:04<00:00,  1.92record/s]
accuracy of model over 240 generated records: 0.8958333333333334
precision of model over 240 generated records: 0.8625954198473282
recall of model over 240 generated records: 0.9416666666666667
f1 of model over 240 generated records: 0.900398406374502
Processing records: 100%|██████████| 240/240 [01:46<00:00,  2.25record/s]
accuracy of model over 240 generated records: 0.6125
precision of model over 240 generated records: 0.9090909090909091
recall of model over 240 generated records: 0.25
f1 of model over 240 generated records: 0.392156862745098
Processing records: 100%|██████████| 240/240 [01:48<00:00,  2.22record/s]
accuracy of model over 240 generated records: 0.5458333333333333
precision of model over 240 generated records: 0.8666666666666667
recall of model over 240 generated records: 0.10833333333333334
f1 of model over 240 generated records: 0.1925925925925926
Processing records: 100%|██████████| 240/240 [01:51<00:00,  2.16record/s]
accuracy of model over 240 generated records: 0.85
precision of model over 240 generated records: 0.7692307692307693
recall of model over 240 generated records: 1.0
f1 of model over 240 generated records: 0.8695652173913044
Processing records: 100%|██████████| 240/240 [01:43<00:00,  2.32record/s]
accuracy of model over 240 generated records: 0.8875
precision of model over 240 generated records: 0.8206896551724138
recall of model over 240 generated records: 0.9916666666666667
f1 of model over 240 generated records: 0.8981132075471697
Processing records: 100%|██████████| 240/240 [02:02<00:00,  1.96record/s]
accuracy of model over 240 generated records: 0.8416666666666667
precision of model over 240 generated records: 0.9361702127659575
recall of model over 240 generated records: 0.7333333333333333
f1 of model over 240 generated records: 0.822429906542056
Processing records: 100%|██████████| 240/240 [01:45<00:00,  2.28record/s]
accuracy of model over 240 generated records: 0.8916666666666667
precision of model over 240 generated records: 0.8263888888888888
recall of model over 240 generated records: 0.9916666666666667
f1 of model over 240 generated records: 0.9015151515151516

llama 70B result end

qwen32b result start

Processing records: 100%|██████████| 240/240 [05:00<00:00,  1.25s/record]
accuracy of model over 240 generated records: 0.5
precision of model over 240 generated records: 0.0
recall of model over 240 generated records: 0.0
f1 of model over 240 generated records: 0.0
Processing records: 100%|██████████| 240/240 [04:25<00:00,  1.11s/record]
accuracy of model over 240 generated records: 0.5
precision of model over 240 generated records: 0.0
recall of model over 240 generated records: 0.0
f1 of model over 240 generated records: 0.0
Processing records: 100%|██████████| 240/240 [04:52<00:00,  1.22s/record]
accuracy of model over 240 generated records: 0.5
precision of model over 240 generated records: 0.0
recall of model over 240 generated records: 0.0
f1 of model over 240 generated records: 0.0
Processing records: 100%|██████████| 240/240 [04:30<00:00,  1.13s/record]
accuracy of model over 240 generated records: 0.5
precision of model over 240 generated records: 0.0
recall of model over 240 generated records: 0.0
f1 of model over 240 generated records: 0.0
Processing records: 100%|██████████| 240/240 [05:03<00:00,  1.27s/record]
accuracy of model over 240 generated records: 0.5
precision of model over 240 generated records: 0.0
recall of model over 240 generated records: 0.0
f1 of model over 240 generated records: 0.0
Processing records: 100%|██████████| 240/240 [04:38<00:00,  1.16s/record]
accuracy of model over 240 generated records: 0.5
precision of model over 240 generated records: 0.0
recall of model over 240 generated records: 0.0
f1 of model over 240 generated records: 0.0
Processing records: 100%|██████████| 240/240 [20:43<00:00,  5.18s/record]   
accuracy of model over 240 generated records: 0.5
precision of model over 240 generated records: 0.0
recall of model over 240 generated records: 0.0
f1 of model over 240 generated records: 0.0
Processing records: 100%|██████████| 240/240 [04:27<00:00,  1.12s/record]
accuracy of model over 240 generated records: 0.5
precision of model over 240 generated records: 0.0
recall of model over 240 generated records: 0.0
f1 of model over 240 generated records: 0.0
Processing records: 100%|██████████| 240/240 [04:18<00:00,  1.08s/record]
accuracy of model over 240 generated records: 0.5
precision of model over 240 generated records: 0.0
recall of model over 240 generated records: 0.0
f1 of model over 240 generated records: 0.0
Processing records: 100%|██████████| 240/240 [04:52<00:00,  1.22s/record]accuracy of model over 240 generated records: 0.5
precision of model over 240 generated records: 0.0
recall of model over 240 generated records: 0.0
f1 of model over 240 generated records: 0.0

qwen32b result end

